[submodule "_sass/bootstrap"]
	path = _sass/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "assets/fontawesome"]
	path = assets/fontawesome
	url = https://github.com/FortAwesome/Font-Awesome.git
