---
layout: default
title: :contact.title
stylesheets: 
    - contact.css
---
<div class="container my-3">
    <h1 class="w-100 mb-3">{{ site.data.contact.title }}</h1>
    <div class="row flex-row-reverse justify-content-center">
        <div class="row justify-content-around align-content-around col-12 col-lg-6 mb-3">
            {% for item in site.data.contact.items %}
            <div class="col-6 text-center{% if forloop.index != 0 %} mt-3{% endif %}">
                <i class="mb-3 icone-contact {{ item.icone }}"></i>
                {% if item.lien %}
                    <a href="{{ item.lien }}">{{ item.description }}</a>
                {% else %}
                    <p>{{ item.description }}</p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-6 p-0">
            <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=-75.7808804512024%2C45.453899375312446%2C-75.75693368911745%2C45.46351690487789&amp;layer=mapnik&amp;marker=45.45871587060235%2C-75.76890707015991" style="border: 1px solid black; width: 100%; height: 50vh; min-height: 500px;"></iframe>
            <small>
                <a href="https://www.openstreetmap.org/?mlat=45.4587&amp;mlon=-75.7689#map=16/45.4587/-75.7689&amp;layers=N">{{ site.data.contact.agrandir-carte }}</a>
            </small>
        </div>
    </div>
</div>