main {
    padding: 0 16px;
}

.question, .question:visited {
    color: #333;
    border-bottom: 2px solid transparent;
}
.question:hover {
    color: black;
    border-bottom-color: black;
}

button.toggle-reponse {
    padding: 2px 4px;
    border: 0;
}

.reponse {
    transition: height 100ms ease-out;
    overflow: hidden;
}
.reponse.hidden {
    height: 0;
}
:target>.reponse  {
    height: auto;
}

/* Afficher une flêche après la question sélectionnée par #id */
:target .question::after {
    content: " ☜";
}

.categories {
    display: flex;
    flex-flow: row wrap;
}
.categories>p {
    padding: 2px 4px;
    margin: 4px;
    border-radius: 4px;
    
    background: #ccc;
    color: #333;
}

.horizontal {
    align-items: center;
}