---
---

@import "variables";
@import "bootstrap/scss/bootstrap";

html, body {
    overflow: hidden;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    padding-top: 66px;
}

.wrap {
    overflow: auto;
    height: 100%;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

.brand-image {
    height: 40px;
}

.navbar {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

footer {
    font-weight: 700;
    color: rgba(255, 255, 255, 0.8);
}

.banner {
    max-height: 50vh;
}

.overflowy-auto {
    overflow-y: auto;
}

.social {
    font-size: 2em;
    @extend .mx-2;

    &:hover {
        text-decoration: none;
    }
}

#map {}
