---
layout: default
stylesheets:
    - article.css
---
<div class="container-fluid px-0">
    <div class="row justify-content-center bg-secondary">
        <img class="col-12 col-md-8" src="{{ '/assets/images/banner.webp' | relative_url }}">
        <div class="col-10 col-md-4 my-auto py-3">
            <p class="lead mx-2">{{ page.description }}</p>
            <div class="row mx-2">
                {% for tag in page.tags %}
                <a class="badge bg-info" href="#">{{ site.data.tags[tag] }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h1 class="row pt-2">{{ page.title }}</h1>
    <div class="row">
        {{ page.content | markdownify }}
    </div>
</div>
