<!DOCTYPE html>
<html lang="{{ site.active_lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.title }}</title>

    <link rel="stylesheet" href="{{ 'assets/fontawesome/css/all.min.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'assets/fontawesome/css/v4-shims.min.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'assets/css/monokai.css' | relative_url }}">
    {% for stylesheet in page.stylesheets %}
        <link rel="stylesheet" href="{{ stylesheet | prepend: 'assets/css/' | relative_url }}">
    {% endfor %}
    <link rel="shortcut icon" type="image/png" href="{{ 'assets/images/shortcut.ico' | relative_url }}" sizes="32x32">
    <link rel="canonical" href="{{ page.url | replace: 'index.html','' | absolute_url }}">

    {% include seo.html %}
    {% I18n_Headers %}
</head>
<body>
    {% include navbar.html %}
    <div class="wrap d-flex flex-column" {% if page.data-spy %}data-spy="scroll"{% endif %}>
        <main class="flex-grow-1">
            {{ content }}
        </main>
        {% include footer.html %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
