---
layout: default
stylesheets:
  - index.css
---
{% include image_asset.html class="w-100 banner" src="banner.webp" %}
<div class="container-fluid">
    <div class="row justify-content-around">
        <p class="lead mt-3 mb-n3 col-12 col-lg-8">{{ page.description }}</p>
    </div>
    <div class="row justify-content-around">
        {% for axe in page.axes-intervention %}
        <div class="col-12 col-lg-6 p-5">
            <h2>{{ axe.nom | upcase }}</h2>
            {% include image_asset.html class="d-block mx-auto" src=axe.image %}
            <div>
                {{ axe.description | markdownify }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>