---
layout: default
---
<div class="row">
    <div class="col order-md-1">
        <a href="{{ page.lien }}"><h1>{{ page.title }}</h1></a>
        <div class="lead">
            {{ content | markdownify }}
        </div>
    </div>
    <div class="col-12 col-lg-3 order-md-2">
        {% if page.partenaires.size > 0 %}
            <h2>Partenaires</h2>
            {% for partenaire in page.partenaires %}
                <a href="{{ partenaire[1] }}" class="d-block">{{ partenaire[0] }}</a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-12 col-md-3 order-md-0">
        <nav class="nav nav-pills flex-column bg-secondary">
            {% assign sources = site.sources | where: 'lang', site.active_lang | sources_alphabetiques %}
            {% for categorie in sources %}
                {% capture id %}dropdown-{{ categorie[0] }}{% endcapture %}
                <nav class="nav nav-pills flex-column groupe-sources" id="{{ id }}">
                    <a href="#" class="nav-link dropdown-toggle text-left" type="button" data-toggle="collapse" data-target="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}">
                        {{ categorie[0] | capitalize }}
                    </a>
                    <nav class="nav nav-pills flex-column dropdown-sources bg-light">
                        {% for source in categorie[1] %}
                            <a class="nav-link" href="{{ source.url }}">{{ source.title }}</a>
                            {% if forloop.last == false %}
                                <hr class="mx-3 my-0"></hr>
                            {% endif %}
                        {% endfor %}
                    </nav>
                </nav>
                {% if forloop.last == false %}
                    <hr class="mx-3 my-0"></hr>
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>
