---
layout: default
---
<div class="row">
    <div class="col order-md-1">
        <a href="{{ page.lien }}"><h1>{{ page.nom }}</h1></a>
        <div class="lead">
            {{ content | markdownify }}
        </div>
    </div>
    <div class="col-12 col-lg-3 order-md-2">
        {% if page.partenaires.size > 0 %}
            <h2>Partenaires</h2>
            {% for partenaire in page.partenaires %}
                <a href="#" class="d-block">{{ partenaire }}</a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="col-12 col-md-3 order-md-0">
        <nav class="nav nav-pills flex-column bg-secondary">
            {% assign categories = "!$%&, 0-9, a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x, y, z" | split: ', ' %}
            {% assign sources = site.sources | sources_alphabetiques %}
            {% for categorie in categories %}
                {% assign groupe = sources[categorie] %}
                {% if groupe and groupe.size != 0 %}
                    {% capture id %}dropdown-{{categorie}}{% endcapture %}
                    <nav class="nav nav-pills flex-column groupe-sources" id="{{ id }}">
                        <a href="#" class="nav-link dropdown-toggle text-left" type="button" data-toggle="collapse" data-target="#{{ id }}" aria-expanded="false" aria-controls="{{ id }}">
                            {{ categorie | capitalize }}
                        </a>
                        <nav class="nav nav-pills flex-column dropdown-sources bg-light">
                            {% for source in groupe %}
                                <a class="nav-link" href="{{ source.url }}">{{ source.nom }}</a>
                                {% if forloop.last == false %}
                                    <hr class="mx-3 my-0"></hr>
                                {% endif %}
                            {% endfor %}
                        </nav>
                    </nav>
                    {% if forloop.last == false %}
                        <hr class="mx-3 my-0"></hr>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>
